* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.5rem;
  font-family: 'Fredoka', sans-serif;
  box-shadow: 0 0 7px #888;
  height: 2rem;
  width: 7rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 7px;
  background-color: blue;
  color: #efefef;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 14px #888;
}

button:active {
  background-color: darkblue;
}

.App {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frontpage {
  flex-wrap: wrap;
}

.logoutButton {
  top: 20px;
  right: 30px;
}