.gameContainer {
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-count: 2;
  column-gap: 80px;
}

.reset {
  margin-bottom: 20px;
}